In [34]:
import pandas as pd
import numpy as np
import math
import subprocess
from datetime import date, time, datetime, timedelta
import calendar
import bandit.main as bd

In [35]:
def df_bandit_class(df, classname):
    dfgb = df.groupby([classname])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [36]:
def df_search(df_in, cohort):
    if not cohort in df_in:
        return df_in

    df_class = df_bandit_class(df_in, cohort)
    print(df_class)
    next_class = df_class.iloc[0, 0]
    if df_in['Complete'].isnull().sum() > 0:
        df_filtered = df_in[df_in[cohort] == next_class]
    else:
        df_filtered = df_in

    return df_filtered

In [37]:
def rate_calc(df):
    pedal_time = df['Goal'] * df['seconds']
    rest_time = (df['Goal'] - 1) * 15
    total_time = pedal_time + rest_time
    rate = pedal_time / total_time
    score = pedal_time * rate
    return int(score)

In [38]:
currDate = datetime.today()
goal_list = [y for y in range(1,26)]
df = pd.DataFrame({"Goal":goal_list})
df['Date'] = currDate
df['Complete'] = np.nan
df = df[['Date', 'Goal', 'Complete']]

In [39]:
df_excel = pd.read_excel(io='GoalSetter2.xlsx')
foo = df_excel.groupby('Goal').count()
foo['remove'] = np.where(foo['Complete'] > 0, True, False)
foo = foo[['remove']]
df = df.merge(foo,on='Goal',how='left')
df = df[df['remove'] != True].drop(['remove'],axis=1)
df

                         Date  Goal  Complete
5  2018-10-09 20:57:12.516237     6       NaN
24 2018-10-09 20:57:12.516237    25       NaN

In [40]:
subprocess.Popen('GoalSetter2.xlsx', shell=True)

In [41]:
df = df.append(df_excel).reset_index(drop=True)
df['Class'] = df['Goal']

In [42]:
df = bd.reduce(df,'Goal')

36 0.91 33

In [43]:
df.head(10)

                         Date  Goal  Complete  Class
0  2018-10-09 20:57:12.516237     6       NaN      6
2  2018-08-10 00:00:00.000000     1       1.0      1
3  2018-08-18 00:00:00.000000     2       2.0      2
4  2018-08-01 00:00:00.000000     3       3.0      3
7  2018-08-14 00:00:00.000000     9      10.0      9
8  2018-08-15 00:00:00.000000    10      14.0     10
9  2018-08-16 00:00:00.000000    11       6.0     11
10 2018-08-01 00:00:00.000000    12       1.0     12
11 2018-08-24 00:00:00.000000    13      14.0     13
12 2018-08-01 00:00:00.000000    14       4.0     14

In [44]:
df['Score'] = np.where(df['Complete'] >= df['Goal'], df['Complete']**1.1, df['Complete'] / 5)

In [45]:
df_quality = bd.get_quality(df['Score'])

In [46]:
val_df = bd.set_cohorts(df, 'Goal')
df = df.merge(val_df, on='Goal')

In [47]:
currDay = calendar.day_name[currDate.weekday()]
df_today = df
df_today['weekday'] = df_today['Date'].dt.day_name()
df_today = df_today[df_today['weekday'] == currDay]
today_sum = df_today['Complete'].notnull().sum()
if today_sum >= 10:
    df = df_today

In [48]:
df.sort_values('Date', ascending=True).tail(10)

,Date,Goal,Complete,Class,Score,cohort1,cohort2,weekday
11,2018-10-01 00:00:00.000000,9,9.0,9,11.211578,0.0,2.0,Monday
42,2018-10-02 00:00:00.000000,7,7.0,7,8.503698,0.0,2.0,Tuesday
49,2018-10-03 00:00:00.000000,8,8.0,8,9.849155,0.0,2.0,Wednesday
50,2018-10-04 00:00:00.000000,8,4.0,8,0.800000,0.0,2.0,Thursday
53,2018-10-05 00:00:00.000000,21,21.0,21,28.473524,2.0,7.0,Friday
54,2018-10-06 00:00:00.000000,24,15.0,24,3.000000,2.0,8.0,Saturday
55,2018-10-07 00:00:00.000000,22,15.0,22,3.000000,2.0,7.0,Sunday
56,2018-10-08 00:00:00.000000,23,9.0,23,1.800000,2.0,7.0,Monday
57,2018-10-09 00:00:00.000000,25,NaN,25,NaN,2.0,8.0,Tuesday
0,2018-10-09 20:57:12.516237,6,NaN,6,NaN,0.0,1.0,Tuesday

In [49]:
df_quality = bd.get_quality(df['Score'])
df = df.join(df_quality)

In [50]:
df_step1 = df_search(df,'cohort1')
df_step1

   cohort1  count      mean       var  total    donext
2      2.0      7  0.197043  0.126764     56  0.576203
0      0.0     25  0.360674  0.056169     56  0.561306
1      1.0     24  0.277491  0.091647     56  0.482261

,Date,Goal,Complete,Class,Score,cohort1,cohort2,weekday,Quality
36,2018-08-22,18,5.0,18,1.000000,2.0,6.0,Wednesday,0.035120
44,2018-09-12,19,10.0,19,2.000000,2.0,6.0,Wednesday,0.070241
51,2018-09-19,20,0.0,20,0.000000,2.0,6.0,Wednesday,0.000000
53,2018-10-05,21,21.0,21,28.473524,2.0,7.0,Friday,1.000000
54,2018-10-06,24,15.0,24,3.000000,2.0,8.0,Saturday,0.105361
55,2018-10-07,22,15.0,22,3.000000,2.0,7.0,Sunday,0.105361
56,2018-10-08,23,9.0,23,1.800000,2.0,7.0,Monday,0.063217
57,2018-10-09,25,NaN,25,NaN,2.0,8.0,Tuesday,NaN

In [51]:
df_step2 = df_search(df_step1,'cohort2')
df_step2

   cohort2  count      mean       var  total    donext
2      8.0      1  0.105361       NaN      7  0.802840
1      7.0      3  0.389526  0.279953      7  0.792216
0      6.0      3  0.035120  0.001233      7  0.437810

,Date,Goal,Complete,Class,Score,cohort1,cohort2,weekday,Quality
54,2018-10-06,24,15.0,24,3.0,2.0,8.0,Saturday,0.105361
57,2018-10-09,25,NaN,25,NaN,2.0,8.0,Tuesday,NaN

In [52]:
df_step3 = df_search(df_step2,'cohort3')
df_step3

,Date,Goal,Complete,Class,Score,cohort1,cohort2,weekday,Quality
54,2018-10-06,24,15.0,24,3.0,2.0,8.0,Saturday,0.105361
57,2018-10-09,25,NaN,25,NaN,2.0,8.0,Tuesday,NaN

In [53]:
df_bandit_class(df_step3, 'Class')

   Class  count      mean  var  total      donext
1     25      0       NaN  NaN      1  999.000000
0     24      1  0.105361  NaN      1    0.105361