In [35]:
import pandas as pd
import numpy as np
import math
import datetime
import subprocess
import bandit.main as bd

In [36]:
def get_frame(filename):
    df = pd.read_excel(io=filename)
    # df_combined = pd.merge(df,df_lookup,on='Difficulty')
    # df_combined['Duration'] = df_combined['Time'].apply(lambda x: pd.Timedelta(str(x))).astype('timedelta64[s]')
    # df_combined['MatRate'] = df_combined['Mats'] / df_combined['Duration']
    # df_combined['DiffClass'] = df_combined['Class'] + '-' + df_combined['Difficulty']
    return df

In [37]:
# todo: combine bandit_class and bandit_diff
def df_bandit_class(df, classname):
    dfgb = df.groupby([classname])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [38]:
def df_bandit_diff(df):
    dfgb = df.groupby(['goal'])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [39]:
subprocess.Popen('GoalSetter.xlsx', shell=True)

In [40]:
df = get_frame('GoalSetter.xlsx')

In [41]:
df = bd.reduce(df,'goal')
df

39 0.9025 35

         date  goal  cohort  complete      score
0  2018-08-10     1       0       1.0   1.000000
1  2018-08-18     2       0       2.0   2.297397
2  2018-08-01     3       0       3.0   3.737193
5  2018-08-01     6       0       NaN        NaN
8  2018-08-14     9       1      10.0  13.966610
9  2018-08-15    10       1      14.0  15.848932
10 2018-08-16    11       1       6.0   1.500000
11 2018-08-01    12       1       1.0   0.250000
12 2018-08-24    13       1      14.0  21.713609
13 2018-08-01    14       2       4.0   1.000000
14 2018-08-19    15       2      15.0  25.781579
15 2018-08-20    16       2       8.0   2.000000
16 2018-08-21    17       2       9.0   2.250000
17 2018-08-22    18       2       5.0   1.250000
18 2018-08-01    19       2       NaN        NaN
19 2018-08-01    20       2       NaN        NaN
20 2018-08-25    13       1      15.0  21.713609
21 2018-08-26    13       1      16.0  21.713609
22 2018-08-27    10       1      11.0  15.848932
23 2018-08-28     9       1      11.0  13.966610
24 2018-08-30    13       1      13.0  21.713609
25 2018-08-31    13       1       5.0   1.250000
26 2018-09-01     7       1      11.0  10.330412
27 2018-09-02    10       1      10.0  15.848932
28 2018-09-03     9       1      11.0  13.966610
29 2018-09-04    10       1      10.0  15.848932
30 2018-09-05    13       1       7.0   1.750000
31 2018-09-06    10       1       1.0   0.250000
32 2018-09-07     9       1      21.0  13.966610
33 2018-09-08     7       1      13.0  10.330412
34 2018-09-09     7       1      11.0  10.330412
35 2018-09-10     9       1       2.0   0.500000
36 2018-09-11     4       0       1.0   0.250000
37 2018-09-12    19       2      10.0   2.500000
38 2018-09-13    13       1       0.0   0.000000
39 2018-09-14     8       1       8.0  12.125733
40 2018-09-15    11       1       4.0   1.000000
41 2018-09-16    12       1      17.0  19.725022
42 2018-09-17    12       1       2.0   0.500000
43 2018-09-18    10       1       8.0   2.000000
44 2018-09-19    20       2       0.0   0.000000
45 2018-09-20     7       1       8.0  10.330412
46 2018-09-21     8       1      10.0  12.125733
47 2018-09-22     7       1       7.0  10.330412
48 2018-09-23     5       0       7.0   6.898648
49 2018-09-24     8       1       9.0  12.125733
50 2018-09-26     9       1       9.0  13.966610
51 2018-09-27    13       1       7.0   1.750000
52 2018-09-28    15       2       9.0   2.250000
53 2018-09-29     8       1       9.0  12.125733
54 2018-09-30     9       1      17.0  13.966610
55 2018-10-01     9       1       9.0  13.966610
56 2018-10-02     7       1       7.0  10.330412
57 2018-10-03     8       1       8.0  12.125733
58 2018-10-04     8       1       NaN        NaN

In [42]:
df_quality = bd.get_quality(df['score'])

In [43]:
df = df.join(df_quality).sort_values('Quality', ascending=False)

In [44]:
#df.loc[df.score.isnull(), 'Quality'] = 0.5

In [45]:
df.sort_values('date', ascending=True).tail(10)

         date  goal  cohort  complete      score   Quality
49 2018-09-24     8       1       9.0  12.125733  0.470325
50 2018-09-26     9       1       9.0  13.966610  0.541728
51 2018-09-27    13       1       7.0   1.750000  0.067878
52 2018-09-28    15       2       9.0   2.250000  0.087272
53 2018-09-29     8       1       9.0  12.125733  0.470325
54 2018-09-30     9       1      17.0  13.966610  0.541728
55 2018-10-01     9       1       9.0  13.966610  0.541728
56 2018-10-02     7       1       7.0  10.330412  0.400690
57 2018-10-03     8       1       8.0  12.125733  0.470325
58 2018-10-04     8       1       NaN        NaN       NaN

In [46]:
df = df.sort_values('Quality', ascending=False)
df.head(10)

         date  goal  cohort  complete      score   Quality
14 2018-08-19    15       2      15.0  25.781579  1.000000
12 2018-08-24    13       1      14.0  21.713609  0.842214
21 2018-08-26    13       1      16.0  21.713609  0.842214
20 2018-08-25    13       1      15.0  21.713609  0.842214
24 2018-08-30    13       1      13.0  21.713609  0.842214
41 2018-09-16    12       1      17.0  19.725022  0.765082
27 2018-09-02    10       1      10.0  15.848932  0.614739
29 2018-09-04    10       1      10.0  15.848932  0.614739
9  2018-08-15    10       1      14.0  15.848932  0.614739
22 2018-08-27    10       1      11.0  15.848932  0.614739

In [47]:
df_class = df_bandit_class(df,'cohort')

In [48]:
df_class

   cohort  count      mean       var  total    donext
1       1     38  0.409414  0.073291     51  0.570247
0       0      5  0.110026  0.010405     51  0.553412
2       2      8  0.179545  0.110945     51  0.530072

In [49]:
nextClass = df_class.iloc[0,0]

In [50]:
if df['complete'].isnull().sum() > 0:
    df_filtered = df[df['cohort'] == nextClass]
else:
    df_filtered = df

In [51]:
df_bandit_diff(df_filtered)

   goal  count      mean       var  total    donext
1     8      5  0.470325  0.000000     38  0.896799
5    12      3  0.264724  0.187792     38  0.815299
3    10      6  0.424371  0.087436     38  0.813686
2     9      8  0.476436  0.034104     38  0.813593
0     7      6  0.400690  0.000000     38  0.790005
6    13      8  0.444137  0.181543     38  0.781294
4    11      2  0.048484  0.000188     38  0.722797