In [117]:
import pandas as pd
import numpy as np
import math
import datetime
from datetime import date
import subprocess
import bandit.main as bd

In [118]:
def set_cohorts(df, score_col):
    cohort_size = 3
    cohort_size_2 = cohort_size**2
    cohort_size_3 = cohort_size**3

    # sort by score
    df = df.sort_values (score_col)
    df = df.reset_index ()
    
    # get distinct scores
    score_grp = df.groupby(score_col)
    dfgb = score_grp[score_col].agg(['count']).reset_index()
    score_cardinality = len(dfgb)

    if score_cardinality > cohort_size:
        grp_size = score_cardinality / cohort_size
        df['cohort1'] = df[score_col] // grp_size

    if score_cardinality > cohort_size_2:
        grp_size = score_cardinality / cohort_size_2
        df['cohort2'] = df[score_col] // grp_size
        
    if score_cardinality > cohort_size_3:
        grp_size = score_cardinality / cohort_size_3
        df['cohort3'] = df[score_col] // grp_size

    return df

In [119]:
def df_search(df_in, cohort):
    if not cohort in df_in:
        return df_in

    df_class = df_bandit_class(df_in, cohort)
    print(df_class)
    next_class = df_class.iloc[0, 0]
    print(next_class)
    if df_in['Complete'].isnull().sum() > 0:
        df_filtered = df_in[df_in[cohort] == next_class]
    else:
        df_filtered = df_in

    return df_filtered

In [120]:
# todo: combine bandit_class and bandit_diff
def df_bandit_class(df, classname):
    dfgb = df.groupby([classname])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [121]:
currDate = date.today()
goal_list = [y for y in range(1,25)]
df = pd.DataFrame({"Goal":goal_list})
df["Date"] = currDate
df["Complete"] = np.nan
df = df[['Date', 'Goal', 'Complete']]

In [122]:
subprocess.Popen('GoalSetter2.xlsx', shell=True)

In [123]:
df_excel = df = pd.read_excel(io='GoalSetter2.xlsx', dtype={'Date':date})
df = df.append(df_excel).reset_index(drop=True)

In [124]:
df = bd.reduce(df,'Goal')

89 0.7775 69

In [125]:
df['Score'] = np.where(df['Complete'] >= df['Goal'], df['Complete']**1.2, df['Complete'] / 5)

In [126]:
df_quality = bd.get_quality(df['Score'])

In [127]:
df = df.join(df_quality).sort_values('Quality', ascending=False)

In [128]:
df = set_cohorts(df, 'Goal')

In [129]:
df.sort_values('Date', ascending=True).tail(10)

    index       Date  Goal  Complete      Score   Quality  cohort1  cohort2
35     49 2018-09-30     9      17.0  29.959786  0.776025      1.0      4.0
38    103 2018-09-30     9      17.0  29.959786  0.776025      1.0      4.0
39     50 2018-10-01     9       9.0  13.966610  0.361766      1.0      4.0
44    104 2018-10-01     9       9.0  13.966610  0.361766      1.0      4.0
18     51 2018-10-02     7       7.0  10.330412  0.267581      1.0      3.0
14    105 2018-10-02     7       7.0  10.330412  0.267581      1.0      3.0
24    106 2018-10-03     8       8.0  12.125733  0.314083      1.0      3.0
22     52 2018-10-03     8       8.0  12.125733  0.314083      1.0      3.0
20     53 2018-10-04     8       NaN        NaN       NaN      1.0      3.0
30    107 2018-10-04     8       NaN        NaN       NaN      1.0      3.0

In [130]:
df = df.sort_values('Quality', ascending=False)
df.head(10)

    index       Date  Goal  Complete      Score   Quality  cohort1  cohort2
34     27 2018-09-07     9      21.0  38.606742  1.000000      1.0      4.0
42     81 2018-09-07     9      21.0  38.606742  1.000000      1.0      4.0
62     90 2018-09-16    12      17.0  29.959786  0.776025      1.0      5.0
61     36 2018-09-16    12      17.0  29.959786  0.776025      1.0      5.0
35     49 2018-09-30     9      17.0  29.959786  0.776025      1.0      4.0
38    103 2018-09-30     9      17.0  29.959786  0.776025      1.0      4.0
74     70 2018-08-26    13      16.0  27.857618  0.721574      2.0      6.0
69     69 2018-08-25    13      15.0  25.781579  0.667800      2.0      6.0
80     65 2018-08-19    15      15.0  25.781579  0.667800      2.0      7.0
56     60 2018-08-15    10      14.0  23.733055  0.614739      1.0      4.0

In [131]:
df_step1 = df_search(df,'cohort1')
df_step1

   cohort1  count      mean       var  total    donext
3      3.0      4  0.025902  0.000895     86  0.553535
0      0.0      7  0.103962  0.013530     86  0.502815
1      1.0     56  0.352941  0.060402     86  0.485070
2      2.0     19  0.192586  0.078781     86  0.434681
3.0

    index       Date  Goal  Complete  Score   Quality  cohort1  cohort2
84     32 2018-09-12    19      10.0    2.0  0.051804      3.0      8.0
85     86 2018-09-12    19      10.0    2.0  0.051804      3.0      8.0
86     39 2018-09-19    20       0.0    0.0  0.000000      3.0      9.0
87     93 2018-09-19    20       0.0    0.0  0.000000      3.0      9.0

In [132]:
df_step2 = df_search(df_step1,'cohort2')
df_step2

   cohort2  count      mean  var  total    donext
0      8.0      2  0.051804  0.0      4  0.468082
1      9.0      2  0.000000  0.0      4  0.416277
8.0

    index       Date  Goal  Complete  Score   Quality  cohort1  cohort2
84     32 2018-09-12    19      10.0    2.0  0.051804      3.0      8.0
85     86 2018-09-12    19      10.0    2.0  0.051804      3.0      8.0
86     39 2018-09-19    20       0.0    0.0  0.000000      3.0      9.0
87     93 2018-09-19    20       0.0    0.0  0.000000      3.0      9.0

In [133]:
df_step3 = df_search(df_step2,'cohort3')
df_step3

    index       Date  Goal  Complete  Score   Quality  cohort1  cohort2
84     32 2018-09-12    19      10.0    2.0  0.051804      3.0      8.0
85     86 2018-09-12    19      10.0    2.0  0.051804      3.0      8.0
86     39 2018-09-19    20       0.0    0.0  0.000000      3.0      9.0
87     93 2018-09-19    20       0.0    0.0  0.000000      3.0      9.0

In [134]:
df_bandit_class(df_step3, 'Goal')

   Goal  count      mean  var  total    donext
0    19      2  0.051804  0.0      4  0.468082
1    20      2  0.000000  0.0      4  0.416277