In [240]:
import pandas as pd
import numpy as np

In [241]:
df_csv = pd.read_csv('C:/Users/Haniff/Documents/GeneralProgramming/Diversified Projects/d3farmer/fsharp/Runs.csv')
len(df_csv)

106

In [242]:
df_in = df_csv #.tail(100)

In [243]:
df = df_in[['LevelName', 'LegendariesPH', 'ShardsPH']]

In [244]:
df_num = df_in[['LegendariesPH', 'ShardsPH']]

In [245]:
df_zscore = df_num.transform(lambda x: x - x.mean()).transform(lambda x: x/x.std())

In [246]:
df_zscore['total'] = df_zscore['LegendariesPH'] + df_zscore['ShardsPH']

In [247]:
df_quality = df_zscore['total'].transform(lambda x: x - x.min()).transform(lambda x: x / x.max()).to_frame('quality')

In [248]:
df.tail(10)

    LevelName  LegendariesPH  ShardsPH
96         T6            7.8       838
97         T6            7.0       676
98         T6           18.4       594
99         T6           20.5       678
100        T6           17.4       921
101        T6           17.2       556
102       T10            0.0         0
103        T9            3.8         0
104        T8            0.0       649
105        T7           12.0       659

In [249]:
df = df.join(df_quality).sort_values('quality', ascending=False)

In [250]:
df.head(10)

    LevelName  LegendariesPH  ShardsPH   quality
65         T4           23.8      2163  1.000000
92         T6           25.9       873  0.640277
85         T5           22.3       735  0.546243
93         T6           18.3       908  0.540476
100        T6           17.4       921  0.531336
99         T6           20.5       678  0.502855
30         T1            0.0      1514  0.457985
79         T2           13.2       856  0.450669
98         T6           18.4       594  0.446943
94         T6           14.1       766  0.436516

In [251]:
dfgb = df.groupby(['LevelName'])

In [252]:
def run_ewm(df):
    df = df.sort_index()
    
    grouped = df.groupby('LevelName')

    # create a temporary list to hold frames
    frames = []

    # iterate over the groups and apply exp. weighted moving average
    for group in grouped.groups:
        frame = grouped.get_group(group)
        frame['quality_emw'] = frame['quality'].ewm(span=60).mean()
        frames.append(frame)

    # concat the frames for a new dataframe
    df_new = pd.concat(frames)

    return df_new.sort_index()

In [253]:
run_ewm(df)

C:\Users\Haniff\Anaconda\envs\kaggle-zillow\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

    LevelName  LegendariesPH  ShardsPH   quality  quality_emw
0         T11            0.0         0  0.000000     0.000000
1         T10            0.0         0  0.000000     0.000000
2          T9            0.0         0  0.000000     0.000000
3          T8            0.0         0  0.000000     0.000000
4          T7            0.0         0  0.000000     0.000000
5          T6            0.0         0  0.000000     0.000000
6          T5            0.0         0  0.000000     0.000000
7          T4            0.0         0  0.000000     0.000000
8          T3            0.0         0  0.000000     0.000000
9          T2            3.0       183  0.098932     0.098932
10         T1            0.0       236  0.071390     0.071390
11     Master            0.0       331  0.100128     0.100128
12         T2            4.0       199  0.118297     0.108776
13         T2            0.0       196  0.059290     0.091728
14     Expert            0.0       192  0.058080     0.058080
15     Master            4.0       212  0.122230     0.111363
16         T1            4.0       226  0.126465     0.099386
17     Expert            7.0       149  0.146747     0.103152
18         T9            0.0         0  0.000000     0.000000
19         T8            0.0         0  0.000000     0.000000
20         T7            0.0         0  0.000000     0.000000
21         T6            0.0         0  0.000000     0.000000
22         T5            0.0         0  0.000000     0.000000
23         T4            3.0       193  0.101957     0.051828
24         T3           10.0       235  0.216336     0.109971
25        T13            0.0         0  0.000000     0.000000
26        T12            0.0         0  0.000000     0.000000
27        T11            0.0         0  0.000000     0.000000
28        T10            0.0         0  0.000000     0.000000
29     Master            0.0       226  0.068365     0.096550
..        ...            ...       ...       ...          ...
76         T5           14.0       617  0.389991     0.210205
77         T5            6.5       627  0.284079     0.221843
78     Expert            9.0       181  0.185477     0.121439
79         T2           13.2       856  0.450669     0.211708
80         T2            8.0       424  0.244459     0.216867
81         T3           17.1       523  0.406583     0.197073
82         T3            8.2       555  0.286992     0.211238
83         T4           11.6       859  0.428336     0.325876
84         T4            0.0       693  0.209633     0.315656
85         T5           22.3       735  0.546243     0.267278
86         T5            0.0       600  0.181500     0.256428
87         T2            0.0       408  0.123420     0.203779
88        T10           16.2         0  0.235303     0.061799
89        T11            0.0         0  0.000000     0.000000
90        T12            0.0         0  0.000000     0.000000
91        T13            0.0         0  0.000000     0.000000
92         T6           25.9       873  0.640277     0.168160
93         T6           18.3       908  0.540476     0.247669
94         T6           14.1       766  0.436516     0.281823
95         T6           14.8       732  0.436398     0.306174
96         T6            7.8       838  0.366789     0.314664
97         T6            7.0       676  0.306164     0.313589
98         T6           18.4       594  0.446943     0.329012
99         T6           20.5       678  0.502855     0.347579
100        T6           17.4       921  0.531336     0.365852
101        T6           17.2       556  0.418018     0.370716
102       T10            0.0         0  0.000000     0.048602
103        T9            3.8         0  0.055195     0.014496
104        T8            0.0       649  0.196323     0.051561
105        T7           12.0       659  0.373646     0.098133

[106 rows x 5 columns]

In [254]:
return

SyntaxError: 'return' outside function (<ipython-input-254-64672a10de46>, line 1)

In [ ]:
dfgb = dfgb['quality'].agg(['count','mean', 'var']).reset_index()

In [ ]:
df = df.merge(dfgb)

In [ ]:
dfgb['total'] = dfgb['count'].sum()

In [ ]:
import math
def get_ucb(row):
    div1 = 2 * math.log(row['total']) / row['count']
    min1 = min(0.25, row['var'] + div1)
    div2 = math.log(row['total']) / row['count']
    ucb = math.sqrt(div2 * min1)
    return ucb + row['mean']

In [ ]:
dfgb['donext'] = dfgb.apply(get_ucb, axis=1)

In [ ]:
dfgb.sort_values('donext', ascending=False)