In [59]:
import pandas as pd
import numpy as np
from scipy.stats.mstats import gmean
from probability import distr, draw

In [60]:
def get_quality(df_num):
    df_med_dev = df_num.transform(lambda x: abs(x - x.median())).transform(lambda x: (x*0) + x.median() * 1.4826)
    df_mscore = df_num.transform(lambda x: x - x.median()) / df_med_dev
    df_squash = df_mscore.transform(lambda x: 1 / (1 + np.exp(-x)))
    df_squash['quality'] = gmean(df_squash.iloc[:,:],axis=1)
    df_quality = df_squash['quality']
    return df_quality

In [61]:
def exp3(df_in):
    df_in['weight'] = 1.0
    df = df_in[['LevelName','weight']].drop_duplicates(subset='LevelName', keep='first', inplace=False)
    print(df)
    return 0
    gamma = 0.25
    numActions = len(df.groupby(['LevelName']))
    weights = [1.0] * numActions
    ilen = len(df_in.index)
    for x in range(ilen):
        probabilityDistribution = distr(weights, gamma)
        print(probabilityDistribution)
        choice = draw(probabilityDistribution)
        reward = df['quality'].iloc[x]
        estimatedReward = reward / probabilityDistribution[choice]
        print(estimatedReward)
        
    return numActions

In [62]:
df_csv = pd.read_csv('C:/Users/Haniff/Documents/GeneralProgramming/Diversified Projects/d3farmer/fsharp/Runs.csv')
dat_len = len(df_csv) - 100

In [63]:
pick_len = int(100 + dat_len/2)

In [64]:
df = df_csv.tail(pick_len)

In [65]:
# df = df_in[['LevelName', 'LegendariesPH', 'ShardsPH']]

In [66]:
df_num = df[['XPPH','LegendariesPH', 'ShardsPH', 'Keys']]

In [67]:
df_quality = get_quality(df_num)

In [68]:
df.tail(10)

    LevelName  Difficulty  XPPH  LegendariesPH  ShardsPH  Keys
158        T7          11  6800            0.0      1198     2
159    Master           4  1400           14.4       620     1
160        T9          13  7000           27.8       966     2
161        T3           7  2800            0.0      1065     1
162        T7          11  6900           22.2      1189     1
163        T3           7  2000           19.2       537     2
164        T7          11  5500           15.3       850     2
165    Expert           3   944            0.0       344     1
166        T9          13  7800           23.1      1071     2
167        T9          13  9600           18.7      1268     2

In [69]:
df = df.join(df_quality)

In [70]:
df.sort_values('quality', ascending=False).head(10)

    LevelName  Difficulty   XPPH  LegendariesPH  ShardsPH  Keys   quality
141        T9          13  14800           37.3      1653     2  0.851553
153        T9          13  10200           30.2      1287     2  0.790201
152        T9          13   8900           27.4      1287     2  0.770700
148        T9          13   9800           19.2      1376     2  0.747062
133        T7          11   7300           21.7      1375     2  0.736308
167        T9          13   9600           18.7      1268     2  0.733497
157        T7          11   6200           47.6       953     2  0.730308
139        T9          13  11100           10.6      4524     2  0.724754
166        T9          13   7800           23.1      1071     2  0.717815
110        T8          12  10800           12.4      1550     2  0.716699

In [71]:
exp3(df)

   LevelName  weight
34        T9     1.0
35        T8     1.0
36        T7     1.0
37        T6     1.0
38       T13     1.0
39       T12     1.0
40        T5     1.0
41       T11     1.0
42       T10     1.0
45        T1     1.0
51    Expert     1.0
54        T3     1.0
57    Master     1.0
62        T4     1.0
68        T2     1.0

0

In [72]:
return

SyntaxError: 'return' outside function (<ipython-input-72-64672a10de46>, line 1)