In [8]:
import pandas as pd
import numpy as np
import datetime
import calendar

In [9]:
currTime = datetime.datetime.now()
currDate = currTime.date()

In [10]:
daynames = [calendar.day_name[x] for x in range(7)]
weekdays = pd.DataFrame({'Weekday': daynames})
weekdays['Date'] = currDate

In [11]:
weekdays

     Weekday        Date
0     Monday  2018-08-28
1    Tuesday  2018-08-28
2  Wednesday  2018-08-28
3   Thursday  2018-08-28
4     Friday  2018-08-28
5   Saturday  2018-08-28
6     Sunday  2018-08-28

In [12]:
goals = pd.DataFrame({'Goal': range(1,22)})
goals['Date'] = currDate

In [13]:
goals

    Goal        Date
0      1  2018-08-28
1      2  2018-08-28
2      3  2018-08-28
3      4  2018-08-28
4      5  2018-08-28
5      6  2018-08-28
6      7  2018-08-28
7      8  2018-08-28
8      9  2018-08-28
9     10  2018-08-28
10    11  2018-08-28
11    12  2018-08-28
12    13  2018-08-28
13    14  2018-08-28
14    15  2018-08-28
15    16  2018-08-28
16    17  2018-08-28
17    18  2018-08-28
18    19  2018-08-28
19    20  2018-08-28
20    21  2018-08-28

In [14]:
goal_schedule = weekdays.merge(goals, how='left', on = 'Date')
goal_schedule['Group'] = (goal_schedule['Goal'] - 1) // 7
goal_schedule['Num Completed'] = np.nan
#days_and_stores.drop('key',1, inplace=True)

In [15]:
goal_schedule

      Weekday        Date  Goal  Group  Num Completed
0      Monday  2018-08-28     1      0            NaN
1      Monday  2018-08-28     2      0            NaN
2      Monday  2018-08-28     3      0            NaN
3      Monday  2018-08-28     4      0            NaN
4      Monday  2018-08-28     5      0            NaN
5      Monday  2018-08-28     6      0            NaN
6      Monday  2018-08-28     7      0            NaN
7      Monday  2018-08-28     8      1            NaN
8      Monday  2018-08-28     9      1            NaN
9      Monday  2018-08-28    10      1            NaN
10     Monday  2018-08-28    11      1            NaN
11     Monday  2018-08-28    12      1            NaN
12     Monday  2018-08-28    13      1            NaN
13     Monday  2018-08-28    14      1            NaN
14     Monday  2018-08-28    15      2            NaN
15     Monday  2018-08-28    16      2            NaN
16     Monday  2018-08-28    17      2            NaN
17     Monday  2018-08-28    18      2            NaN
18     Monday  2018-08-28    19      2            NaN
19     Monday  2018-08-28    20      2            NaN
20     Monday  2018-08-28    21      2            NaN
21    Tuesday  2018-08-28     1      0            NaN
22    Tuesday  2018-08-28     2      0            NaN
23    Tuesday  2018-08-28     3      0            NaN
24    Tuesday  2018-08-28     4      0            NaN
25    Tuesday  2018-08-28     5      0            NaN
26    Tuesday  2018-08-28     6      0            NaN
27    Tuesday  2018-08-28     7      0            NaN
28    Tuesday  2018-08-28     8      1            NaN
29    Tuesday  2018-08-28     9      1            NaN
..        ...         ...   ...    ...            ...
117  Saturday  2018-08-28    13      1            NaN
118  Saturday  2018-08-28    14      1            NaN
119  Saturday  2018-08-28    15      2            NaN
120  Saturday  2018-08-28    16      2            NaN
121  Saturday  2018-08-28    17      2            NaN
122  Saturday  2018-08-28    18      2            NaN
123  Saturday  2018-08-28    19      2            NaN
124  Saturday  2018-08-28    20      2            NaN
125  Saturday  2018-08-28    21      2            NaN
126    Sunday  2018-08-28     1      0            NaN
127    Sunday  2018-08-28     2      0            NaN
128    Sunday  2018-08-28     3      0            NaN
129    Sunday  2018-08-28     4      0            NaN
130    Sunday  2018-08-28     5      0            NaN
131    Sunday  2018-08-28     6      0            NaN
132    Sunday  2018-08-28     7      0            NaN
133    Sunday  2018-08-28     8      1            NaN
134    Sunday  2018-08-28     9      1            NaN
135    Sunday  2018-08-28    10      1            NaN
136    Sunday  2018-08-28    11      1            NaN
137    Sunday  2018-08-28    12      1            NaN
138    Sunday  2018-08-28    13      1            NaN
139    Sunday  2018-08-28    14      1            NaN
140    Sunday  2018-08-28    15      2            NaN
141    Sunday  2018-08-28    16      2            NaN
142    Sunday  2018-08-28    17      2            NaN
143    Sunday  2018-08-28    18      2            NaN
144    Sunday  2018-08-28    19      2            NaN
145    Sunday  2018-08-28    20      2            NaN
146    Sunday  2018-08-28    21      2            NaN

[147 rows x 5 columns]