In [1]:
import pandas as pd
import numpy as np
import math
import datetime
import bandit.main as bd

In [2]:
def get_frame(filename):
    df = pd.read_excel(io=filename)
    # df_combined = pd.merge(df,df_lookup,on='Difficulty')
    # df_combined['Duration'] = df_combined['Time'].apply(lambda x: pd.Timedelta(str(x))).astype('timedelta64[s]')
    # df_combined['MatRate'] = df_combined['Mats'] / df_combined['Duration']
    # df_combined['DiffClass'] = df_combined['Class'] + '-' + df_combined['Difficulty']
    return df

In [3]:
def mad(df):
    const_med = df.median()
    df_med = abs(df - const_med)
    v_mad = df_med.median()
    return v_mad

In [4]:
def get_ucb(row):
    div1 = 2 * math.log(row['total']) / row['count']
    ucb = math.sqrt(div1)
    return ucb + row['median']

In [5]:
def get_ucb2(row):
    div1 = 3 * math.log(row['total']) / row['count']
    min1 = min(0.25, row['mad'] + div1)
    div2 = math.log(row['total']) / row['count']
    ucb = math.sqrt(div2 * min1)
    return ucb + row['median']

In [6]:
def save_excel(df,col):
    dfgb = df.groupby([col])
    dfgb = dfgb['Quality'].agg(['count','median', mad]).reset_index()
    return dfgb

In [7]:
df = get_frame('EQTime.xlsx')
df.tail(10)

    ProjeDate         Project  Duration
17 2018-07-09            Bard  00:11:03
18 2018-07-13      ForTheKing  00:21:51
19 2018-07-20            Mage  00:05:00
20 2018-07-23         Witcher  00:11:37
21 2018-07-29     ShadowOfWar  00:54:16
22 2018-08-03     ShadowOfWar  00:36:23
23 2018-08-05  PCAutoMechanic  00:42:39
24 2018-08-10  PCAutoMechanic  00:27:42
25 2018-08-11     ShadowOfWar  00:49:46
26 2018-08-14     ShadowOfWar  00:26:27

In [8]:
# reduce it
df = bd.reduce(df,'Project')
df['Duration'] = df['Duration'].apply(lambda x: pd.Timedelta(str(x))).astype('timedelta64[s]')
df_quality = bd.get_quality(df['Duration'])
df = df.join(df_quality)

16 0.96 15

In [9]:
df.tail(10)

    ProjeDate         Project  Duration   Quality
17 2018-07-09            Bard     663.0  0.122801
18 2018-07-13      ForTheKing    1311.0  0.342016
19 2018-07-20            Mage     300.0  0.000000
20 2018-07-23         Witcher     697.0  0.134303
21 2018-07-29     ShadowOfWar    3256.0  1.000000
22 2018-08-03     ShadowOfWar    2183.0  0.637009
23 2018-08-05  PCAutoMechanic    2559.0  0.764208
24 2018-08-10  PCAutoMechanic    1662.0  0.460758
25 2018-08-11     ShadowOfWar    2986.0  0.908660
26 2018-08-14     ShadowOfWar    1587.0  0.435386

In [10]:
df.sort_values('Quality', ascending=False).head(10)

    ProjeDate         Project  Duration   Quality
21 2018-07-29     ShadowOfWar    3256.0  1.000000
25 2018-08-11     ShadowOfWar    2986.0  0.908660
2  2018-04-29           Druid    2847.0  0.861637
23 2018-08-05  PCAutoMechanic    2559.0  0.764208
4  2018-04-29            Mage    2313.0  0.680988
6  2018-05-06         Witcher    2290.0  0.673207
1  2018-04-29      DualBoxing    2189.0  0.639039
22 2018-08-03     ShadowOfWar    2183.0  0.637009
7  2018-05-06        KerbalSP    1927.0  0.550406
14 2018-06-28           Druid    1920.0  0.548038

In [11]:
dfgb = save_excel(df,'Project')

In [12]:
df = df.merge(dfgb)
dfgb['total'] = dfgb['count'].sum()
dfgb['donext'] = dfgb.apply(get_ucb2, axis=1)
dfgb.sort_values('donext', ascending=False)

           Project  count    median       mad  total    donext
1        Beastlord      1  0.438769  0.000000     26  1.341279
8   PCAutoMechanic      2  0.612483  0.151725     26  1.250654
9      ShadowOfWar      4  0.772835  0.181495     26  1.224090
3       DualBoxing      2  0.511671  0.127368     26  1.149842
2            Druid      3  0.548038  0.061231     26  1.069102
4       ForTheKing      2  0.361468  0.019452     26  0.999639
5         KerbalSP      2  0.298207  0.252199     26  0.936378
6             Mage      3  0.389378  0.291610     26  0.910442
0             Bard      2  0.268099  0.145298     26  0.906270
10         Witcher      3  0.353518  0.219215     26  0.874583
7            Necro      2  0.222767  0.106055     26  0.860938