In [27]:
import pandas as pd
import numpy as np
import subprocess
from datetime import date
import calendar
import bandit.main as bd

In [28]:
def set_cohorts(df, score_col):
    cohort_size = 3
    cohort_size_2 = cohort_size**2
    cohort_size_3 = cohort_size**3

    # sort by score
    df = df.sort_values (score_col)
    df = df.reset_index ()

    if len (df) > cohort_size:
        grp_size = len (df) / cohort_size
        df['cohort1'] = df.index // grp_size

    if len (df) > cohort_size_2:
        grp_size = len (df) / cohort_size_2
        df['cohort2'] = df.index // grp_size
        
    if len (df) > cohort_size_3:
        grp_size = len (df) / cohort_size_3
        df['cohort3'] = df.index // grp_size

    return df

In [29]:
def df_bandit_class(df, classname):
    dfgb = df.groupby([classname])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [30]:
def df_search(df_in, cohort):
    df_class = df_bandit_class(df_in,cohort)
    print(df_class)
    nextClass = df_class.iloc[0,0]
    if df_in['Completed'].isnull().sum() > 0:
        df_filtered = df_in[df_in[cohort] == nextClass]
    else:
        df_filtered = df_in

    return df_filtered

In [31]:
currDate = date.today()
list = [[x, y] for x in range(1,15) for y in [72,76,80,84,88]]

In [32]:
df = pd.DataFrame.from_records(list).rename(index=str, columns={0: "Minutes", 1: "Rate"})
df['Date'] = currDate
df['Completed'] = np.nan
df = df[['Date','Minutes','Rate','Completed']]
sheet_info = pd.read_excel(io='PunchGoals.xlsx')
df = df.append(sheet_info).reset_index(drop=True)

In [33]:
subprocess.Popen('PunchGoals.xlsx', shell=True)

In [34]:
df['Value'] = df['Minutes'] * (df['Rate'] - 10)
df = set_cohorts(df, 'Value')
df['Score'] = np.where(df['Completed'] >= df['Minutes'], df['Value']**1.2, df['Value'] / 5)
df.loc[df['Completed'].isnull(), 'Score'] = np.NaN
df['Class'] = df['Minutes'].map(str) + '-' + df['Rate'].map(str)
df = bd.reduce(df,'Class')
df

2 0.995 2

,index,Date,Minutes,Rate,Completed,Value,cohort1,cohort2,cohort3,Score,Class
0,0,2018-10-04,1,72,NaN,62,-0.0,-0.0,-0.0,NaN,1-72
1,70,2018-10-01 00:00:00,1,72,1.0,62,0.0,0.0,0.0,141.537013,1-72
2,1,2018-10-04,1,76,NaN,66,0.0,0.0,0.0,NaN,1-76
3,2,2018-10-04,1,80,NaN,70,0.0,0.0,1.0,NaN,1-80
4,3,2018-10-04,1,84,NaN,74,0.0,0.0,1.0,NaN,1-84
5,4,2018-10-04,1,88,NaN,78,0.0,0.0,1.0,NaN,1-88
6,5,2018-10-04,2,72,NaN,124,0.0,0.0,2.0,NaN,2-72
7,6,2018-10-04,2,76,NaN,132,0.0,0.0,2.0,NaN,2-76
8,7,2018-10-04,2,80,NaN,140,0.0,1.0,3.0,NaN,2-80
9,8,2018-10-04,2,84,NaN,148,0.0,1.0,3.0,NaN,2-84
10,9,2018-10-04,2,88,NaN,156,0.0,1.0,3.0,NaN,2-88
11,10,2018-10-04,3,72,NaN,186,0.0,1.0,4.0,NaN,3-72
12,11,2018-10-04,3,76,NaN,198,0.0,1.0,4.0,NaN,3-76
13,12,2018-10-04,3,80,NaN,210,0.0,1.0,4.0,NaN,3-80
14,13,2018-10-04,3,84,NaN,222,0.0,1.0,5.0,NaN,3-84
15,14,2018-10-04,3,88,NaN,234,0.0,1.0,5.0,NaN,3-88
16,15,2018-10-04,4,72,NaN,248,0.0,2.0,6.0,NaN,4-72
17,16,2018-10-04,4,76,NaN,264,0.0,2.0,6.0,NaN,4-76
18,17,2018-10-04,4,80,NaN,280,0.0,2.0,6.0,NaN,4-80
19,18,2018-10-04,4,84,NaN,296,0.0,2.0,7.0,NaN,4-84
20,20,2018-10-04,5,72,NaN,310,0.0,2.0,7.0,NaN,5-72
21,19,2018-10-04,4,88,NaN,312,0.0,2.0,7.0,NaN,4-88
22,21,2018-10-04,5,76,NaN,330,0.0,2.0,8.0,NaN,5-76
23,22,2018-10-04,5,80,NaN,350,0.0,2.0,8.0,NaN,5-80
24,71,2018-10-04 00:00:00,5,84,0.0,370,1.0,3.0,9.0,74.000000,5-84
25,23,2018-10-04,5,84,NaN,370,1.0,3.0,9.0,NaN,5-84
26,25,2018-10-04,6,72,NaN,372,1.0,3.0,9.0,NaN,6-72
27,24,2018-10-04,5,88,NaN,390,1.0,3.0,10.0,NaN,5-88
28,26,2018-10-04,6,76,NaN,396,1.0,3.0,10.0,NaN,6-76
29,27,2018-10-04,6,80,NaN,420,1.0,3.0,10.0,NaN,6-80
...,...,...,...,...,...,...,...,...,...,...,...
42,41,2018-10-04,9,76,NaN,594,1.0,5.0,15.0,NaN,9-76
43,45,2018-10-04,10,72,NaN,620,1.0,5.0,16.0,NaN,10-72
44,39,2018-10-04,8,88,NaN,624,1.0,5.0,16.0,NaN,8-88
45,42,2018-10-04,9,80,NaN,630,1.0,5.0,16.0,NaN,9-80
46,46,2018-10-04,10,76,NaN,660,1.0,5.0,17.0,NaN,10-76
47,43,2018-10-04,9,84,NaN,666,1.0,5.0,17.0,NaN,9-84
48,50,2018-10-04,11,72,NaN,682,2.0,6.0,18.0,NaN,11-72
49,47,2018-10-04,10,80,NaN,700,2.0,6.0,18.0,NaN,10-80
50,44,2018-10-04,9,88,NaN,702,2.0,6.0,18.0,NaN,9-88
51,51,2018-10-04,11,76,NaN,726,2.0,6.0,19.0,NaN,11-76
52,48,2018-10-04,10,84,NaN,740,2.0,6.0,19.0,NaN,10-84
53,55,2018-10-04,12,72,NaN,744,2.0,6.0,19.0,NaN,12-72
54,52,2018-10-04,11,80,NaN,770,2.0,6.0,20.0,NaN,11-80
55,49,2018-10-04,10,88,NaN,780,2.0,6.0,20.0,NaN,10-88
56,56,2018-10-04,12,76,NaN,792,2.0,7.0,21.0,NaN,12-76
57,60,2018-10-04,13,72,NaN,806,2.0,7.0,21.0,NaN,13-72
58,53,2018-10-04,11,84,NaN,814,2.0,7.0,21.0,NaN,11-84
59,57,2018-10-04,12,80,NaN,840,2.0,7.0,22.0,NaN,12-80
60,61,2018-10-04,13,76,NaN,858,2.0,7.0,22.0,NaN,13-76
61,54,2018-10-04,11,88,NaN,858,2.0,7.0,22.0,NaN,11-88
62,65,2018-10-04,14,72,NaN,868,2.0,7.0,23.0,NaN,14-72
63,58,2018-10-04,12,84,NaN,888,2.0,7.0,23.0,NaN,12-84
64,62,2018-10-04,13,80,NaN,910,2.0,8.0,24.0,NaN,13-80
65,66,2018-10-04,14,76,NaN,924,2.0,8.0,24.0,NaN,14-76
66,59,2018-10-04,12,88,NaN,936,2.0,8.0,24.0,NaN,12-88
67,63,2018-10-04,13,84,NaN,962,2.0,8.0,25.0,NaN,13-84
68,67,2018-10-04,14,80,NaN,980,2.0,8.0,25.0,NaN,14-80
69,64,2018-10-04,13,88,NaN,1014,2.0,8.0,25.0,NaN,13-88
70,68,2018-10-04,14,84,NaN,1036,2.0,8.0,26.0,NaN,14-84
71,69,2018-10-04,14,88,NaN,1092,2.0,8.0,26.0,NaN,14-88

In [35]:
df_quality = bd.get_quality(df['Score'])
df = df.join(df_quality)

In [36]:
df_step1 = df_search(df,'cohort1')

   cohort1  count  mean  var  total      donext
2      2.0      0   NaN  NaN      2  999.000000
0     -0.0      1   1.0  NaN      2    1.416277
1      1.0      1   0.0  NaN      2    0.416277

In [37]:
df_step2 = df_search(df_step1,'cohort2')

   cohort2  count  mean  var  total  donext
0      6.0      0   NaN  NaN      0   999.0
1      7.0      0   NaN  NaN      0   999.0
2      8.0      0   NaN  NaN      0   999.0

In [38]:
df_step3 = df_search(df_step2,'cohort3')
df_step3

   cohort3  count  mean  var  total  donext
0     18.0      0   NaN  NaN      0   999.0
1     19.0      0   NaN  NaN      0   999.0
2     20.0      0   NaN  NaN      0   999.0

,index,Date,Minutes,Rate,Completed,Value,cohort1,cohort2,cohort3,Score,Class,Quality
48,50,2018-10-04,11,72,NaN,682,2.0,6.0,18.0,NaN,11-72,NaN
49,47,2018-10-04,10,80,NaN,700,2.0,6.0,18.0,NaN,10-80,NaN
50,44,2018-10-04,9,88,NaN,702,2.0,6.0,18.0,NaN,9-88,NaN

In [39]:
df_bandit_class(df_step3, 'Class')

   Class  count  mean  var  total  donext
0  10-80      0   NaN  NaN      0   999.0
1  11-72      0   NaN  NaN      0   999.0
2   9-88      0   NaN  NaN      0   999.0