In [1]:
import pandas as pd
import numpy as np
import math
from datetime import date, time, datetime, timedelta
import subprocess
import bandit.main as bd
import calendar

In [2]:
def set_cohorts(source_df, score_col):
    cohort_size = 3
    cohort_size_2 = cohort_size**2
    cohort_size_3 = cohort_size**3

    # break out distinct scores
    uniq_list = source_df[score_col].unique()
    df = pd.DataFrame({score_col : uniq_list}).sort_values(score_col, ascending=True)
    df = df.sort_values (score_col)
    df = df.reset_index (drop=True)
    
    if len (df) > cohort_size:
        grp_size = len (df) / cohort_size
        df['cohort1'] = df.index // grp_size

    if len (df) > cohort_size_2:
        grp_size = len (df) / cohort_size_2
        df['cohort2'] = df.index // grp_size
        
    if len (df) > cohort_size_3:
        grp_size = len (df) / cohort_size_3
        df['cohort3'] = df.index // grp_size

    return df

In [3]:
def df_search(df_in, cohort):
    if not cohort in df_in:
        return df_in

    df_class = df_bandit_class(df_in, cohort)
    print(df_class)
    next_class = df_class.iloc[0, 0]
    if df_in['Complete'].isnull().sum() > 0:
        df_filtered = df_in[df_in[cohort] == next_class]
    else:
        df_filtered = df_in
        
    return df_filtered

In [4]:
def set_start(df):
    goal_minutes = df['Goal']
    final = datetime.combine(date.today(), time(0, 0)) + timedelta(minutes=goal_minutes)
    return final

In [5]:
# todo: combine bandit_class and bandit_diff
def df_bandit_class(df, classname):
    dfgb = df.groupby([classname])
    dfgb = dfgb['Quality'].agg(['count','mean', 'var']).reset_index()
    dfgb['total'] = dfgb['count'].sum()
    dfgb['donext'] = dfgb.apply(lambda x: bd.get_tuned_ucb(x, 'mean', 'var'), axis=1).fillna(999)
    
    # set up the time
    # dfgb['CanStart'] = dfgb.apply(set_start, axis=1)
    
    foo = dfgb.sort_values('donext', ascending=False)
    return foo

In [6]:
# timelist = [datetime.combine(date.today(), time(0, 0)) + timedelta(minutes=i) for i in  range(0,1440,5)]
minute_list = [i for i in  range(5,1440,5)]
df = pd.DataFrame({"Start":minute_list})

In [7]:
currDate = datetime.today()
minute_list = [i for i in  range(5,1440,5)]
df = pd.DataFrame({"Goal":minute_list})
df["Date"] = currDate
df["Complete"] = np.nan
df = df[['Date', 'Goal', 'Complete']]

In [8]:
subprocess.Popen('StopSmoking.xlsx', shell=True)

In [9]:
df_excel = pd.read_excel(io='StopSmoking.xlsx')
df = df.append(df_excel).reset_index(drop=True)

In [10]:
df = bd.reduce(df,'Goal')

4 0.99 4

In [11]:
df.tail(10)

                          Date  Goal  Complete
281 2018-10-09 06:04:27.898516  1410       NaN
282 2018-10-09 06:04:27.898516  1415       NaN
283 2018-10-09 06:04:27.898516  1420       NaN
284 2018-10-09 06:04:27.898516  1425       NaN
285 2018-10-09 06:04:27.898516  1430       NaN
286 2018-10-09 06:04:27.898516  1435       NaN
287 2018-10-06 00:00:00.000000     5       1.0
288 2018-10-07 00:00:00.000000   485       1.0
289 2018-10-08 00:00:00.000000   965       1.0
290 2018-10-08 00:00:00.000000  1125       NaN

In [12]:
df['Score'] = np.where(df['Complete'] >= 1, df['Goal']**1.2, 0)
df.loc[df['Complete'].isnull(), 'Score'] = np.NaN

In [13]:
df_quality = bd.get_quality(df['Score'])

In [14]:
df = df.join(df_quality).sort_values('Quality', ascending=False)

In [15]:
val_df = set_cohorts(df, 'Goal')
df = df.merge(val_df, on='Goal')

In [16]:
currDay = calendar.day_name[currDate.weekday()]
df_today = df
df_today['weekday'] = df_today['Date'].dt.day_name()
df_today = df_today[df_today['weekday'] == currDay]
today_sum = df_today['Complete'].notnull().sum()
if today_sum >= 10:
    df = df_today

In [17]:
df.sort_values('Date', ascending=True).tail(10)

,Date,Goal,Complete,Score,Quality,cohort1,cohort2,cohort3,weekday
100,2018-10-09 06:04:27.898516,480,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
99,2018-10-09 06:04:27.898516,475,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
98,2018-10-09 06:04:27.898516,470,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
97,2018-10-09 06:04:27.898516,465,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
96,2018-10-09 06:04:27.898516,460,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
95,2018-10-09 06:04:27.898516,455,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
94,2018-10-09 06:04:27.898516,450,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
93,2018-10-09 06:04:27.898516,445,NaN,NaN,NaN,0.0,2.0,8.0,Tuesday
289,2018-10-09 06:04:27.898516,1430,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
290,2018-10-09 06:04:27.898516,1435,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday

In [18]:
df = df.sort_values('Quality', ascending=False)
df.head(10)

,Date,Goal,Complete,Score,Quality,cohort1,cohort2,cohort3,weekday
0,2018-10-08 00:00:00.000000,965,1.0,3814.457461,1.000000,2.0,6.0,18.0,Monday
2,2018-10-07 00:00:00.000000,485,1.0,1670.667739,0.436965,1.0,3.0,9.0,Sunday
4,2018-10-06 00:00:00.000000,5,1.0,6.898648,0.000000,-0.0,-0.0,-0.0,Saturday
1,2018-10-09 06:04:27.898516,965,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
3,2018-10-09 06:04:27.898516,485,NaN,NaN,NaN,1.0,3.0,9.0,Tuesday
5,2018-10-09 06:04:27.898516,5,NaN,NaN,NaN,-0.0,-0.0,-0.0,Tuesday
6,2018-10-09 06:04:27.898516,10,NaN,NaN,NaN,0.0,0.0,0.0,Tuesday
7,2018-10-09 06:04:27.898516,15,NaN,NaN,NaN,0.0,0.0,0.0,Tuesday
8,2018-10-09 06:04:27.898516,20,NaN,NaN,NaN,0.0,0.0,0.0,Tuesday
9,2018-10-09 06:04:27.898516,25,NaN,NaN,NaN,0.0,0.0,0.0,Tuesday

In [19]:
df_step1 = df_search(df,'cohort1')
df_step1

   cohort1  count      mean  var  total    donext
2      2.0      1  1.000000  NaN      3  1.524074
1      1.0      1  0.436965  NaN      3  0.961038
0     -0.0      1  0.000000  NaN      3  0.524074

,Date,Goal,Complete,Score,Quality,cohort1,cohort2,cohort3,weekday
0,2018-10-08 00:00:00.000000,965,1.0,3814.457461,1.0,2.0,6.0,18.0,Monday
1,2018-10-09 06:04:27.898516,965,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
196,2018-10-09 06:04:27.898516,970,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
197,2018-10-09 06:04:27.898516,975,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
198,2018-10-09 06:04:27.898516,980,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
199,2018-10-09 06:04:27.898516,985,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
200,2018-10-09 06:04:27.898516,990,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
201,2018-10-09 06:04:27.898516,995,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
202,2018-10-09 06:04:27.898516,1000,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
203,2018-10-09 06:04:27.898516,1005,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
204,2018-10-09 06:04:27.898516,1010,NaN,NaN,NaN,2.0,6.0,18.0,Tuesday
205,2018-10-09 06:04:27.898516,1015,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
206,2018-10-09 06:04:27.898516,1020,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
207,2018-10-09 06:04:27.898516,1025,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
208,2018-10-09 06:04:27.898516,1030,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
209,2018-10-09 06:04:27.898516,1035,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
210,2018-10-09 06:04:27.898516,1040,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
211,2018-10-09 06:04:27.898516,1045,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
212,2018-10-09 06:04:27.898516,1050,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
213,2018-10-09 06:04:27.898516,1055,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
214,2018-10-09 06:04:27.898516,1060,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
215,2018-10-09 06:04:27.898516,1065,NaN,NaN,NaN,2.0,6.0,19.0,Tuesday
216,2018-10-09 06:04:27.898516,1070,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
217,2018-10-09 06:04:27.898516,1075,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
218,2018-10-09 06:04:27.898516,1080,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
219,2018-10-09 06:04:27.898516,1085,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
220,2018-10-09 06:04:27.898516,1090,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
221,2018-10-09 06:04:27.898516,1095,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
222,2018-10-09 06:04:27.898516,1100,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
223,2018-10-09 06:04:27.898516,1105,NaN,NaN,NaN,2.0,6.0,20.0,Tuesday
...,...,...,...,...,...,...,...,...,...
261,2018-10-09 06:04:27.898516,1290,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
262,2018-10-09 06:04:27.898516,1295,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
263,2018-10-09 06:04:27.898516,1300,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
264,2018-10-09 06:04:27.898516,1305,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
265,2018-10-09 06:04:27.898516,1310,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
266,2018-10-09 06:04:27.898516,1315,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
267,2018-10-09 06:04:27.898516,1320,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
268,2018-10-09 06:04:27.898516,1325,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
269,2018-10-09 06:04:27.898516,1330,NaN,NaN,NaN,2.0,8.0,24.0,Tuesday
270,2018-10-09 06:04:27.898516,1335,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
271,2018-10-09 06:04:27.898516,1340,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
272,2018-10-09 06:04:27.898516,1345,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
273,2018-10-09 06:04:27.898516,1350,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
274,2018-10-09 06:04:27.898516,1355,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
275,2018-10-09 06:04:27.898516,1360,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
276,2018-10-09 06:04:27.898516,1365,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
277,2018-10-09 06:04:27.898516,1370,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
278,2018-10-09 06:04:27.898516,1375,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
279,2018-10-09 06:04:27.898516,1380,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
280,2018-10-09 06:04:27.898516,1385,NaN,NaN,NaN,2.0,8.0,25.0,Tuesday
281,2018-10-09 06:04:27.898516,1390,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
282,2018-10-09 06:04:27.898516,1395,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
283,2018-10-09 06:04:27.898516,1400,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
284,2018-10-09 06:04:27.898516,1405,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
285,2018-10-09 06:04:27.898516,1410,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
286,2018-10-09 06:04:27.898516,1415,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
287,2018-10-09 06:04:27.898516,1420,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
288,2018-10-09 06:04:27.898516,1425,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
289,2018-10-09 06:04:27.898516,1430,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday
290,2018-10-09 06:04:27.898516,1435,NaN,NaN,NaN,2.0,8.0,26.0,Tuesday

In [20]:
df_step2 = df_search(df_step1,'cohort2')
df_step2

   cohort2  count  mean  var  total  donext
1      7.0      0   NaN  NaN      1   999.0
2      8.0      0   NaN  NaN      1   999.0
0      6.0      1   1.0  NaN      1     1.0

,Date,Goal,Complete,Score,Quality,cohort1,cohort2,cohort3,weekday
227,2018-10-09 06:04:27.898516,1125,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
228,2018-10-08 00:00:00.000000,1125,NaN,NaN,NaN,2.0,7.0,21.0,Monday
229,2018-10-09 06:04:27.898516,1130,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
230,2018-10-09 06:04:27.898516,1135,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
231,2018-10-09 06:04:27.898516,1140,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
232,2018-10-09 06:04:27.898516,1145,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
233,2018-10-09 06:04:27.898516,1150,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
234,2018-10-09 06:04:27.898516,1155,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
235,2018-10-09 06:04:27.898516,1160,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
236,2018-10-09 06:04:27.898516,1165,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
237,2018-10-09 06:04:27.898516,1170,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
238,2018-10-09 06:04:27.898516,1175,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
239,2018-10-09 06:04:27.898516,1180,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
240,2018-10-09 06:04:27.898516,1185,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
241,2018-10-09 06:04:27.898516,1190,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
242,2018-10-09 06:04:27.898516,1195,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
243,2018-10-09 06:04:27.898516,1200,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
244,2018-10-09 06:04:27.898516,1205,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
245,2018-10-09 06:04:27.898516,1210,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
246,2018-10-09 06:04:27.898516,1215,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
247,2018-10-09 06:04:27.898516,1220,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
248,2018-10-09 06:04:27.898516,1225,NaN,NaN,NaN,2.0,7.0,22.0,Tuesday
249,2018-10-09 06:04:27.898516,1230,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
250,2018-10-09 06:04:27.898516,1235,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
251,2018-10-09 06:04:27.898516,1240,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
252,2018-10-09 06:04:27.898516,1245,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
253,2018-10-09 06:04:27.898516,1250,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
254,2018-10-09 06:04:27.898516,1255,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
255,2018-10-09 06:04:27.898516,1260,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
256,2018-10-09 06:04:27.898516,1265,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
257,2018-10-09 06:04:27.898516,1270,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
258,2018-10-09 06:04:27.898516,1275,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday
259,2018-10-09 06:04:27.898516,1280,NaN,NaN,NaN,2.0,7.0,23.0,Tuesday

In [21]:
df_step3 = df_search(df_step2,'cohort3')
df_step3

   cohort3  count  mean  var  total  donext
0     21.0      0   NaN  NaN      0   999.0
1     22.0      0   NaN  NaN      0   999.0
2     23.0      0   NaN  NaN      0   999.0

,Date,Goal,Complete,Score,Quality,cohort1,cohort2,cohort3,weekday
227,2018-10-09 06:04:27.898516,1125,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
228,2018-10-08 00:00:00.000000,1125,NaN,NaN,NaN,2.0,7.0,21.0,Monday
229,2018-10-09 06:04:27.898516,1130,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
230,2018-10-09 06:04:27.898516,1135,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
231,2018-10-09 06:04:27.898516,1140,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
232,2018-10-09 06:04:27.898516,1145,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
233,2018-10-09 06:04:27.898516,1150,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
234,2018-10-09 06:04:27.898516,1155,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
235,2018-10-09 06:04:27.898516,1160,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
236,2018-10-09 06:04:27.898516,1165,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday
237,2018-10-09 06:04:27.898516,1170,NaN,NaN,NaN,2.0,7.0,21.0,Tuesday

In [22]:
df = df_bandit_class(df_step3, 'Goal')
df['CanStart'] = df.apply(set_start, axis=1).dt.strftime('%I:%M %p')
df

   Goal  count  mean  var  total  donext  CanStart
0  1125      0   NaN  NaN      0   999.0  06:45 PM
1  1130      0   NaN  NaN      0   999.0  06:50 PM
2  1135      0   NaN  NaN      0   999.0  06:55 PM
3  1140      0   NaN  NaN      0   999.0  07:00 PM
4  1145      0   NaN  NaN      0   999.0  07:05 PM
5  1150      0   NaN  NaN      0   999.0  07:10 PM
6  1155      0   NaN  NaN      0   999.0  07:15 PM
7  1160      0   NaN  NaN      0   999.0  07:20 PM
8  1165      0   NaN  NaN      0   999.0  07:25 PM
9  1170      0   NaN  NaN      0   999.0  07:30 PM